################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Mango Lecture
/src/Mango/.vs/Mango
/src/Mango/Mango.Services.CouponAPI/bin/Debug/net8.0
/src/Mango/Mango.Services.CouponAPI/obj
/src/Mango/Mango.Services.CouponAPI/Properties
/src/Mango/Mango.Web/bin/Debug/net8.0
/src/Mango/Mango.Web/obj
/src/Mango/.vs/ProjectEvaluation
/src/Mango/Mango.Services.AuthAPI/obj
/src/Mango/Mango.Services.AuthAPI/Properties
/src/Mango/Mango.Services.AuthAPI/bin/Debug/net8.0
